:root {
  --dark-color: #635bff;
  --light-color: #80e9ff;
}
.svg-icon{
  cursor: pointer;
}
#darkGroup {
  fill: var(--dark-color)
}
#lightGroup {
  fill: var(--light-color)
}

#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}

#dark2 {
  transform: translateX(-40%);
  opacity: 0;
}

.svg-triangle:hover {
  #light1 {
    transform: translateX(20%);
  }

  #dark1 {
    transform: translateX(40%);
    opacity: 0;
  }
  #dark2 {
    transform: translateX(5%);
    opacity: 1;
  }
}


// <g id="bolt5" style='--order:5' >
#bolt g {
  opacity: 0;
  animation: dropIn 8s ease forwards infinite;
  animation-delay: calc(var(--order) * 200ms);
}

@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }

  30%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#skeleton {
  animation: fadeInUp 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}