.hidden {
  visibility: hidden;
  height: 0;
}

.hide {
  display: none;
}
@include tablet {
  .hide-tablet {
    display: none;
  }
}
@include tabsmall {
  .hide-tabsmall {
    display: none;
  }
}
@include mobile {
  .hide-mobile {
    display: none;
  }
}

.delay-hide {
  animation: delayHide 1s linear forwards;
}
@keyframes delayHide {
  0%{ visibility: visible; }
  99%{ visibility: visible; }
  100% { visibility: hidden;}
}

.fill {
  width: 100%;
  height: 100%;
}
.full-screen {
  min-height: $full-screen;
}
.full-page {
  min-height: 100vh;
}
.half-page {
  min-height: 50vh;
}