[data-collapse] {
  cursor: pointer;
}

.accordion-display {
  margin: 3rem auto;

  .acc-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #fff2;
    cursor: pointer;
  }

  .acc-np {
    color: $primary;
  }

  .acc-toggle-icon {
    color: #383838;
  }

  .acc-title {
    font-size: 1.8rem;
  }


  .acc-element {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-bottom: .2rem;

    &.active {
      .acc-content {
        max-height: 30rem;
        transition-delay: .1s;
      }
  
      .acc-content-inner {
        opacity: 1;
        transform: translateY(0);
      }
  
      .acc-title {
        color: $primary;
      }
    }
  }


  .acc-content {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
    transition-delay: .2s;
  }

  .acc-content-inner {
    opacity: 0;
    transform: translateY(3rem);
    transition: .4s ease;
    transition-delay: .3s;

    padding: .4rem 1rem 1rem;
  }
}